  <div >
    <form name="searchUser" ng-submit="search( username )">
      <label>Order repos by:</label>
      <select ng-model="repoSortOrder">
        <option value="+name">Name</option>
        <option value="-stargazers_count">Stars</option>
        <option value="+language">Language</option>
      </select>
      <label>User:</label>
      
      <input type="search" required="" placeholder="User to find" ng-model="username" />
      <input type="submit" value="Search" />
    </form>
  </div>
