/* Base */

body {
  margin: 0 auto;
  max-width: 1200px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
}
input {
  font-size: 1.1rem;
  min-height: 1.2rem;
}

table {
  border-collapse: collapse;
  font-size: 1.2rem;
  margin: 1rem 0;
}

th {
  border-bottom: 1px solid lightgray;
}

td {
  padding: 6px;
}

/* Repos */
.post-list tr:nth-child(even) {
  background-color: #f3f3f3;
}

/* Comments */
.comments {
  margin-left: 2rem;
  margin-right: 2rem;
}

.comments__item {
  border-top: 1px solid gray;
  margin-bottom: 2rem;
}

.contributors__login {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem
}
