<div>
  <h2>{{user.name}} ({{user.username}})</h2> 
  {{error}}
  <p>Website: <a href="{{user.website}}">{{user.website}}</a></p>
</div>

<div ng-show="posts">
  <h2>Posts by {{user.username}}</h2>

  <table class="post-list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="post in posts | orderBy:post.title">
        <td>{{post.title | titlecase}}</td>
        <td><a href ng-click="view( post.id )">View Post</a> | <a href>Edit</a> | <a href>Delete</a></td>
      </tr>
    </tbody>
  </table>
  
  <hr>

  <a href="#/">Back to search</a>

</div>